html {
	background-color: #e9e4f0;
}

.login-container {
	margin-top: 40px;
	margin-bottom: 40px;
	z-index: -2;
	position: absolute;
}

.register-button {
	background-color: lightgreen;
	color: white;
}

.register-button:hover {
	color: blue;
}

.login-form-container{
	background-color: white;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-image{
	max-width: 100%;
    max-height: 100%;
    height: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.app-logo {
	max-width: 28%;
	max-height: 28%;
}

.sub-title {
	size: 16px;
	font-style: italic;
}

.form-container {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.backdrop {
	position:absolute;
    margin-left:auto;
    margin-right:auto;
    left: 0; /*NEW*/
    right: 0;
    z-index: -1;
}